// import nib plugin
@import 'nib'

// for common stylus variables

// mixins
shadows()
  content " "
  position absolute
  z-index - 10
  width 50%;
  height 100px;

// override bootstrap var
//@import "_variables.bootstrap"

// default bootstrap var
//@import "bower_components/bootstrap-stylus/stylus/variables"
