// styles affecting all partial
@import "_variables"

#main
  padding 1.5em
  padding-top 1em

md-input-container
  height 77px

  input
    border-bottom: solid 1px rgba(0, 0, 0, 0.12) !important
  md-select-label.md-placeholder span:first-child
      color: rgba(0, 0, 0, 0.26) !important

md-backdrop
  top 0

.result-list
  md-list-item
    float left
    width 33%
    min-width 300px
    max-width 400px
    text-align center

.result-list-bis
  md-list-item

.md-list-item-text
  white-space nowrap
  p
    text-overflow ellipsis
    overflow hidden


.cropArea
    background: #E4E4E4;
    overflow: hidden;
    width: 200px;
    height: 250px;

