include ../_menuHelper

+headBar('Recherche d\'un groupe', 'groupNew', 'hasPermission({category : "GROUP", require : "WRITE"})')

md-list(ng-show='list').result-list
  md-list-item.md-3-line(ng-repeat='item in filtered', ng-click="$state.go('groupView', {_id: item._id})")
    div.md-list-item-text
      h4 {{item.type}} - {{item.name}}
      p {{item.mail}}
    div.md-actions.md-secondary-container()

+loadSymbol()
